/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.tables-slider {
    overflow-x: hidden;
    gap: 0;
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.main-tables-container {
    width: 360px;
}

.main-trust-info-title p:nth-child(2){
    font-size: 1.4rem;
}

.info-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 20px auto;
    grid-template-columns: auto auto;
    gap: 20px;
    place-content: center;
}

.information-cards {
    width: 100%;
    min-width: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px  auto;
}

.card-section {
    margin: 0px 30px;
}